/*
XanderRock
Rockthemes.net
iMenu Maroon Layout
*/
.content_holder a.button, .content_holder a.ui-btn, .content_holder input.button, a.shipping-calculator-button,
.content_holder .ui-select, .content_holder button.button, .ui-btn-left, .ui-btn-right, .buy_item_nav a:active,
#rightpanel1 .ui-btn:not(li), #rightpanel1 a.button, .tm_cart_count, .form-submit #submit,
a.button, button.button, input.button, #respond input#submit, #content input.button,
.sidebar_list_header, .left_sidebar_header, .ui-btn-active, .ui-btn-down-a{ 
	background: #1dc5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dc5e5 0%, #0994ae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1dc5e5), color-stop(100%,#0994ae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1dc5e5 0%,#0994ae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1dc5e5 0%,#0994ae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1dc5e5 0%,#0994ae 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1dc5e5 0%,#0994ae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dc5e5', endColorstr='#0994ae',GradientType=0 ); /* IE6-9 */
}

.header_top_line, .footer_top_line{background:#1dc5e5;}

/*General Hover Color*/
.content_holder a.button:hover, .content_holder a.ui-btn:hover, .content_holder input.button:hover, a.shipping-calculator-button:hover,
a.button.alt:hover, button.button.alt:hover, input.button.alt:hover, #respond input#submit.alt:hover, #content input.button.alt:hover,
.content_holder button.button:hover,
.content_holder a.button:active, .content_holder a.ui-btn:active, .content_holder input.button:active, a.shipping-calculator-button:active,
a.button.alt:active, button.button.alt:active, input.button.alt:active, #respond input#submit.alt:active, #content input.button.alt:active,
.content_holder button.button:active, #rightpanel1 a.button:active, #rightpanel1 a.button:hover,
a.button:hover, button.button:hover, input.button:hover, #respond input#submit:hover, #content input.button:hover,
a.button:active, button.button:active, input.button:active, #respond input#submit:active, #content input.button:active{
	background:#0994ae; text-shadow:none; color:#FFF;
}

.ui-body-a .ui-link, .ui-body-a .ui-link:visited, .ui-body-a .ui-link:hover, .ui-body-a .ui-link:active,
.product-name a, .product-name a:hover, .product-name a:visited, .product-name a:active,
a.ui-link, a.ui-link:visited, a.ui-link:hover, a.ui-link:active,
.form-row .ui-link, .form-row .ui-link:visited, .form-row .ui-link:hover, .form-row .ui-link:active,
.entry-content .ui-link, .entry-content .ui-link:visited, .entry-content .ui-link:hover, .entry-content .ui-link:active {
	color: #1dc5e5;
	font-weight: bold;
}